.ava{
    height: 65px;
    width: auto;
    margin: auto;
    display: block;
    padding-top: 5px;
}

.my_styles{
  
  font-size: 15px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-top: 1px;

}

.my_style {
  
  font-size: 45px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-top: 1px;

}

.my_styl {
  font-size: 20px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-top: 1px;

}

.my_style_preview {
  font-family: Segoe UI Light;
  text-align: right;
  padding-top: 1px;
  margin-top: 1px;

}

.p{
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 5.6em;
  line-height: 1.8em;
  font-size: 12px;
  color:#09c512
}

.ava1{
  height: 35px;
  width: auto;
  display: block;
}

.my_style_preview1 {
  font-family: Segoe UI Light;
  text-align: right;
  padding-top: 1px;
  margin-top: 1px;

}

.p1{
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 5.6em;
  line-height: 1.8em;
  font-size: 12px;
  color:#09c512
}


.my_style1 {
  position: absolute;
  font-size: 17px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-top: 1px;
  top: 11px;
  left: 40px;
  

}

.my_style5 {
  font-size: 15px;
  font-family: Segoe UI Light;
  text-align:center;
}


.my_style10 {
  font-size: 17px;
  font-family: Segoe UI Light;
  text-align: right;
  padding-top: 1px;
  margin-top: 1px;
  top: 0px;
  left: 0px;
}
.my_style2 {
  position: absolute;
  font-size: 15px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-top: 1px;
  top: 10px;
  right: 3px;
  color:#0011fc

}

.my_style3 {
  position: absolute;
  font-size: 20px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-top: 1px;
  top: 12px;
  right: 3px;


}
.my_style33 {
  position: absolute;
  font-size: 15px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-top: 1px;
  top: 35px;
  right: 3px;


}

.my_style4 {
  font-size: 15px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-left: 30px;
  margin-top: 10px;
}

.my_style44 {
  font-size: 13px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 1px;
  margin-left: 60px;
  margin-top: 10px;
}

.my_style5 {
  font-size: 15px;
  font-family: Segoe UI Light;
  text-align:center;
  padding-top: 5px;
  margin-left: 30px;
  margin-top: 10px;
}

ion-card{
  background-color: #ffffff;
}

ion-item{
  background: #ffffff;
}

ion-label{
  text-align: center;
  font-family: Segoe UI Light;
  font-size: 18px;
  margin-left: auto;
}

ion-input{
  text-align: center;
  padding-top: 60px;
}

.center{
  text-align: center;
  margin: auto;
  padding-top: 60px;
  padding-top: 25px;
}
.center1{
  text-align: center;
  margin: auto;
}

.img{
  margin-bottom: 50px;
  margin-top: 25px;

}
