<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transactions"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center;">Envío</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <img class="img" style="height: 125px; width: 125px;" src="/assets/images/enviar.png"/>
  </div>
  <ion-row>
    <ion-col size-lg="12" size-xs="12" style="padding-left: 15px; padding-right: 15px;">
<div class="">
  
  <ion-list class="list">
    <ion-item>
      <ion-input type="number" placeholder="Ingresa cantidad de XTC" min="1" pattern="^[0-9]+" [(ngModel)] = "cantidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Ingresa dirección Billetera" max="32" [(ngModel)] = "denvio"></ion-input>
      <ion-icon slot="end" name="scan-sharp" (click)="scan()"></ion-icon>
    </ion-item>
    <div class="center">
      <ion-button shape='round' color="warning" (click)="trySend()">Siguiente ></ion-button>
    </div>
  </ion-list>

</div>
</ion-col>
</ion-row>
</ion-content>