ion-slide {
    height: 80vh;
    flex-direction: column;

    h2 {
        font-size: 30px;
        font-weight: normal;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        h1 {
            color: #ffd000e5;
            }
    
        h4 {
            color: #070707e5;
            font-size: 12px;
            }
}

ion-img{
    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
}

.slide-one{
    background: #fff;
    color: #333;
}
.slide-two{
    background: #fff;
    color: #333;
}
.slide-tree{
    height: 20vh;
    background: #fff;
    color: #333;
}

.labelintro{
    margin-left: 15px;
    margin-right: 15px;
}
.labelintros{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.labelintro span{
    font-size: 14px;
}


.slides-md {
    --bullet-background: var(--ion-color-step-200,#ccc);
    --bullet-background-active: #ffd000e5;
    --progress-bar-background: rgba(var(--ion-text-color-rgb,0,0,0),0.25);
    --progress-bar-background-active: var(--ion-color-primary-shade,#ffd000e5);
    --scroll-bar-background: rgba(var(--ion-text-color-rgb,0,0,0),0.1);
    --scroll-bar-background-active: rgba(var(--ion-text-color-rgb,0,0,0),0.5);
}


.center{
    text-align: center;
}