<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center;">Acerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slide class="slide-one">
  <ion-img src="/assets/images/logo.png"></ion-img>
  <h2>Bienvenidos a</h2>
  <h1>XatruchWallet</h1>
  <h5>La primera moneda descentralizada Hondureña</h5>
  <h4>Todos los Derechos Reservados Xatruchcoin</h4>
  <h4>Copyright © 2020</h4>
  <h4>Ver.1.0.0.4</h4>
</ion-slide>
</ion-content>
