<ion-header no-border translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cerrarModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center">Verificar transacción</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>
