<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color: #2962ff;" (click)="toggleMenu()">
         <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="color: red" (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
    <ion-title style="text-align: center">Transacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 <ion-row >
  <ion-col size-lg="12" size-xs="12" >
   <ion-card color="#ffffff" mode="md" class="welcome-card animated fadeIn fast">
   <ion-card-header style="padding-bottom: 4px; padding-top: 4px; padding-left: 10px">
    <div class="ion-text-center">
      <qr-code [value]="direccion" [size]="330"></qr-code>
    </div>
   </ion-card-header>
   <ion-card-content class="my_style" style="padding-bottom: 1px;">
    Dirección de Billetera
  </ion-card-content>
   <ion-card-content class="my_style" id="texto" style="padding-bottom: 1px;">
    {{direccion}}
  </ion-card-content>
  <div class="center">
    <ion-button Size="small" (click)="copiar()" shape='round'>Copiar</ion-button>
  </div>
 </ion-card>
 <ion-card (click)="sends()" color="#ffffff" mode="md" class="welcome-card animated fadeIn fast" >
  <ion-card-header style="padding-bottom: 4px; padding-top: 4px; padding-left: 10px">
   <img class="ava1" src="/assets/images/enviar.png"/>
  </ion-card-header>
  <ion-card-content class="my_style1" style="padding-bottom: 1px;">
   Enviar
 </ion-card-content>
</ion-card>
<ion-card color="#ffffff" mode="md" class="welcome-card animated fadeIn fast" >
  <ion-card-header style="padding-bottom: 4px; padding-top: 4px; padding-left: 10px">
   <img class="ava1" src="assets/images/solicitar.png"/>
  </ion-card-header>
  <ion-card-content class="my_style1" style="padding-bottom: 1px;">
   Solicitar
 </ion-card-content>
</ion-card>
 </ion-col>
</ion-row>
</ion-content>