.up-status {
    color: #09c512
}

.ava{
      height: 305px;
      width: auto;
      margin: auto;
      display: block;
}

.my_styles{
    
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;

}

.my_style {
    
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;

}

.my_style_preview {
    font-family: Segoe UI Light;
    text-align: right;
    padding-top: 1px;
    margin-top: 1px;
  
  }

  .p{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.8em;
    font-size: 12px;
    color:#09c512
  }

  .ava1{
    height: 35px;
    width: auto;
    margin-left:100px ;
    display: block;
}

.my_style_preview1 {
    font-family: Segoe UI Light;
    text-align: right;
    padding-top: 1px;
    margin-top: 1px;
  
  }

  .p1{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.8em;
    font-size: 12px;
    color:#09c512
  }

  
.my_style1 {
    position: absolute;
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 10px;
    left: 150px;
    

}
.my_style2 {
    position: absolute;
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 10px;
    right: 3px;
    color:#0011fc

}

.my_style3 {
    position: absolute;
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 10px;
    right: 3px;
    color:#faea09

}

.my_style4 {
    position: absolute;
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 10px;
    right: 3px;
    color:#08c5f5

}
.my_style5 {
    position: absolute;
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 10px;
    right: 3px;
    color:#9900ff

}

    ion-content{

        --ion-background-color:linear-gradient( to bottom , #2962ff, #ffffff 85%);
        
    }

    ion-card{
        background-color: #ffffff;
        padding-bottom: 0px;
    }
 
    ion-item{
        background: #ffffff;
    }

    .center{
        text-align: center;
        margin: auto;
        padding-top: 3px;
        size: small;
        

    }
    .center1{
        text-align: center;
        margin: auto;
    }
    
    
