<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/index"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center;">Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h6 class="labelintros" >XatruchCoin es una empresa debidamente registrada, representada por su(s) Director(es) ejecutivo(s) (en lo sucesivo denominada “Empresa”). Visitando el presente sitio web y usando las facilidades aquí prestadas los Usuarios confirman por la presente que han leído detenidamente, comprendido y aceptado, sin cualquier objeción, los siguientes Términos y Condiciones, que regulan el acceso y el uso de este sitio web, los derechos y las obligaciones de los Usuarios y las compras de productos y servicios (“Productos”) a través de este sitio web.
    Accesando y/o usando este sitio web, usando las facilidades prestadas y/o comprando productos, los Usuarios entran en un acuerdo vinculante con la Empresa y aceptan estos Términos y Condiciones de Uso y acuerdan regirse por ellos y todos los Términos y Condiciones adicionales, guías, restricciones, o reglas publicadas en este sitio web o cualquier otro sitio webs relacionado y aplicable por otros productos y/o servicios.
    La Empresa se reserva el derecho de modificar este sitio web y/o Términos y Condiciones en cualquier momento sin previo aviso y en acuerdo con lo que la gerencia de la Empresa considera mejor para los intereses de la Empresa y sus Usuarios. Usando este sitio web y las facilidades prestadas, los Usuarios por la presente confirman que tienen la posibilidad y derecho de revisar estos Términos y Condiciones cada vez que entran en este sitio web, y de este modo están obligados a cumplir con ellos.
    En caso de no aceptar los presentes Términos y Condiciones la Empresa pide amablemente los visitantes que no usen este sitio web y/o las facilidades prestadas.
  </h6>
  <h5 class="labelintro">VISIÓN, MISIÓN, METAS (VALORES DEL NEGOCIO/CORPORAIVOS)
    ESTABILIDAD </h5>
  <h6 class="labelintros" >– La Empresa está establecida como la Empresa que tendrá el crecimiento más rápido en la industria criptográfica hondureña aumentando la usabilidad de nuestro producto(s) y también desarrollando y prestando productos, servicios y soluciones útiles e innovadores;</h6>
  <h5 class="labelintro">TRANSPARENCIA </h5>
  <h6 class="labelintros" >– La actividad de la Empresa está basada y dirigida por los principios de transparencia en conducir su negocio con clientes y socios;</h6>
  <h5 class="labelintro">LEGITIMIDAD </h5>
  <h6 class="labelintros" >– El objetivo de la Empresa siempre ha sido prestar el mayor nivel de servicios a todos accionistas, empleados y socios. La Empresa no toma decisiones que pueden dar ventajas a uno más que a otro;</h6>
  <h5 class="labelintro">CUMPLIMIENTO </h5>
  <h6 class="labelintros" >– La Empresa conduce su negocio en una manera responsable cumpliendo con todos los requisitos relevantes y aplicables a su negocio, leyes e impuestos;</h6>
  <h5 class="labelintro">SUSTENTABILIDAD </h5>
  <h6 class="labelintros" >– La Empresa se guia por los principios de desarrollo sustentable creando una cultura corporativa de inclusión, honestidad y transparencia.</h6>
  <h5 class="labelintro">SUSTENTABILIDAD </h5>
  <h6 class="labelintros" >– La Empresa se guia por los principios de desarrollo sustentable creando una cultura corporativa de inclusión, honestidad y transparencia.</h6>
  <h5 class="labelintro">DEFINICIONES GENERALES </h5>
  <h5 class="labelintro">Usuario</h5>
  <h6 class="labelintros" >– será considerada cada persona entrando el presente sitio web y/o usando las facilidades aquí prestadas;</h6>
  <h5 class="labelintro">Facilidades</h5>
  <h6 class="labelintros" >– serán consideradas e incluyen:</h6>
  <h6 class="labelintros" >- Acceso a los recursos de información prestados/datos del sitio web;</h6>
  <h6 class="labelintros" >- Acceso a facilidades que permiten opciones adicionales por acceso a los recursos de información del presente sitio web;</h6>
  <h6 class="labelintros" >- Acceso y uso de los Usuarios de otros adicionales/futuras herramientas, servicios y/o productos que pueden ser añadidos;</h6>
  <h5 class="labelintro">PROVISIONES GENERALES</h5>
  <h5 class="labelintros" >Manera de usar.</h5>
  <h6 class="labelintros" >Usando el presente sitio web, las facilidades prestadas y/o productos comprados a través del presente sitio web, los Usuarios tienen derecho a usar los servicios y facilidades del presente sitio web en acuerdo con los presentes Términos y Condiciones y a cumplir con cualquier Términos y Condiciones adicionales, guías, restricciones, o reglas publicadas en este sitio web o cualquier otro sitio web relacionado y aplicable a otros productos y/o servicios.
    Cuando usan el presente sitio web y publican opiniones y/o otros comentarios los Usuarios aceptan y están obligados a no publicar anuncios de propaganda, no violar y abusar o en cualquier otra manera perjudicar la dignidad de otros Usuarios. La Empresa no tolera cualquier tipo de comportamiento abusivo. Sin perjuicio de lo anterior la Empresa no es responsable y no se le debe atribuir la responsabilidad de las opiniones de Usuarios en las secciones relevantes del sitio web. Asimismo, y en acuerdo con las restricciones previamente mencionadas, la Empresa no es responsable por el contenido de los comentarios de los Usuarios.
  </h6>
  <h5 class="labelintros" >Derechos de autor y marcas registradas</h5>
  <h6 class="labelintros" >Todos los derechos sobre todos los logos, imágenes, marcas, recursos de información y otros, o cualquier otro material son reservados y por lo tanto protegidos por la legislación relevante. El uso no autorizado de cada uno de los anteriormente mencionados es considerado y será tratado como violación de la legislación estipulada y se buscará responsabilidad en acuerdo con la legislación relevante y aplicable.
  </h6>
  <h5 class="labelintros" >Limitación de Responsabilidad</h5>
  <h6 class="labelintros" >La Empresa pone todos sus esfuerzos y en acuerdo con las buenas prácticas en mantener la información del sitio web presente precisa, actual y certera, sin excluir cualquier ocasión accidental donde discrepancias objetivas pueden ocurrir, debido a circunstancias fuera del control de la Empresa. La Empresa no es responsable por cualquier consecuencia, incluso daños posibles relacionados en cualquier modo con el acceso, uso o la imposibilidad de usar el sitio web presente. La información prestada es en cumplimiento con la legislación relevante y aplicable, sin responder por cualquier posible comportamiento malintencionado y/o actividades de terceras partes. En adición la Empresa no es responsable por cada interpretación subjetiva de la precisión, plenitud y usabilidad de los recursos de información en el sitio web presente.
    La Empresa no es responsable por cada información (incluso su precisión y plenitud) en sitios web a los que nuestro sitio contiene links.
    La Empresa tiene derecho a compensación por todos los daños, costes y reclamaciones por terceras partes que son una consecuencia de violación de estos Términos y Condiciones y / o uso no autorizado de los servicios del sitio web.    
  </h6>
</ion-content>
