.labelintros{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
.labelintro{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-style: bold;
}

.slide-two{
    background: #fff;
    color: #333;
}