<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/index"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center;">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<div class="center">
  <img style="height: 100px; width: 100px;" src="/assets/images/logo.png"/>
</div>
<div class="center">
  <ion-button color="warning" (click)="Login()">Iniciar Sesion</ion-button>
  <div class="center1">
    <ion-button color="warning" (click)="Register()">Regístrate</ion-button>
  </div>
</div>
</ion-content>