<ion-split-pane>
<ion-menu contentId="content">
  <ion-header>
      <ion-toolbar color="primary">
         <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item lines="none" [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
      </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>