<ion-header no-border translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cerrarModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center">Detalle de transacción</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-row>
    <ion-col size-lg="12" size-xs="12">
      <ion-list>
        <ion-list-header style="font-size: 18px;">
          Fecha:
        </ion-list-header>
        <ion-item>
          <ion-label>{{ create_at }}</ion-label>
        </ion-item>
        <ng-container *ngIf="tipo === 'Recibido'">
          <ion-list-header style="font-size: 18px;">
            Recibido de:
          </ion-list-header>
          <ion-item>
            <ion-label class="ion-label1">
                {{billetera}}
              </ion-label>
          </ion-item>
        </ng-container>
        <ng-container *ngIf="tipo === 'Envió'">
          <ion-list-header style="font-size: 18px;">
            Enviado a:
          </ion-list-header>
          <ion-item>
            <ion-label class="ion-label1">
                {{billetera}}
              </ion-label>
          </ion-item>
        </ng-container>
        <ion-list-header style="font-size: 18px;">
          Cantidad transferida:
        </ion-list-header>
        <ion-item>
          <ion-label>{{ valor | number }} XTC</ion-label>
        </ion-item>
        <ion-list-header style="font-size: 18px;">
          Transacción N°:
        </ion-list-header>
        <ion-item>
          <ion-label>{{ slug }}</ion-label>
        </ion-item>
          <ion-item>
            <ion-label style="font-size: 18px;">Historial</ion-label>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
