ion-label {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.ion-label1 {
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}

.my_style {
    font-size: 18px;
    font-family: Segoe UI Light;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    top: 5px;
    color: #000000;
}