<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center;">Confirmar envío</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <img class="img" style="height: 100px; width: 100px;" src="/assets/images/enviar.png"/>
  </div>
  <ion-row>
    <ion-col size-lg="12" size-xs="12" style="padding-left: 15px; padding-right: 15px;">
<div class="">
  <ion-list class="list">
    <div class="confirmar">
      <ion-label> Cantidad de xtc: {{cantidad | number}}</ion-label>
    </div>
    <div class="confirmar">
      <ion-label> Dirección: {{denvio}}</ion-label>
    </div>
    <ion-item>
      <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Ingresa tu contraseña" [(ngModel)] = "password"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <div class="center">
      <ion-button shape='round' color="warning" (click)="trySends()" [disabled]="disabledButton">Enviar</ion-button>
    </div>
  </ion-list>

</div>
</ion-col>
</ion-row>
</ion-content>