<ion-tabs >

  <ion-tab-bar no-border translucent slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="card-sharp"></ion-icon>
      <ion-label>Balance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="swap-horizontal-sharp"></ion-icon>
      <ion-label>Transacciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movements">
      <ion-icon name="git-compare-sharp"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <ion-icon name="people-sharp"></ion-icon>
      <ion-label>Contactos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
