<ion-header no-border translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color: #2962ff;" (click)="toggleMenu()">
         <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="color: red" (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-title style="text-align: center">Contactos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar placeholder="Buscar"
                animated
                debounce="300"
                [value]="textoBuscar"
                (ionChange)="buscar( $event )">
</ion-searchbar>
</ion-toolbar>

<ion-content>
  <div >
    Desliza hacia abajo para actualizar
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="caret-down-sharp"></ion-refresher-content>
  </ion-refresher>
<ion-list>
  <ion-item-sliding *ngFor="let contact of contacts | filter: textoBuscar:'name'  ">
    <ion-item>
    <ion-avatar slot="start">
      <ion-icon class="icon" name="person-circle-sharp"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3>{{ contact.name }}</h3>
      <p>Billetera:{{ contact.direccion }}</p>
    </ion-label>
  </ion-item>
  <ion-item-options>
    <ion-item-option (click)="update(contact.id, contact.name, contact.email, contact.telephone, contact.direccion)">
     Actualizar
    </ion-item-option>
    <ion-item-option (click)="presentAlert(contact.id)" color="danger">
      Eliminar
     </ion-item-option>
  </ion-item-options>
 </ion-item-sliding>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="add()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
