<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center;">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <img style="height: 100px; width: 100px;" src="/assets/images/logo.png"/>
  </div>
<div>
  <ion-list class="list">
    <ion-item >
      <ion-input type='text' placeholder="Usuario" [(ngModel)] = "username" max="24"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [type]="showPassword ? 'text' : 'password'"  placeholder="Contraseña" [(ngModel)] = "password"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <div class="center">
      <ion-button shape='round' color="warning" (click)="tryLogin()">Acceder</ion-button>
    </div>
  </ion-list>
</div>
</ion-content>
