<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center;">Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <img style="height: 100px; width: 100px;" src="/assets/images/logo.png"/>
  </div>
  
<div class="">
  <ion-list class="list">
    <ion-item>
      <ion-input type="text" placeholder="Nombre" max="56" [(ngModel)] = "name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Usuario" max="24" [(ngModel)] = "username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="Email" max="150" [(ngModel)] = "email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Telefono" max="11" [(ngModel)] = "telephone"></ion-input>
    </ion-item>
    <!--<ion-item style="color:#999">
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)] = "date" min="1940-01-01" max="2015-01-01"></ion-datetime>
    </ion-item>-->
    <ion-item>
      <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" [(ngModel)] = "password"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Confirmar Contraseña" [(ngModel)] = "re_pass"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <div class="center">
      <ion-button shape='round' color="warning" (click)="tryRegister()" [disabled]="disabledButton">Crear</ion-button>
    </div>
  </ion-list>
</div>
</ion-content>
