.up-status {
    color: #09c512;
    font-size: 30px;
    top: 23px;
    left: 10px;
    position: absolute;
}

.up-status1 {
    color: #fc0505;
    font-size: 30px;
    top: 23px;
    left: 10px;
    position: absolute;
}

.ava{
      height: 305px;
      width: auto;
      margin: auto;
      display: block;
}

.my_styles{
    
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;

}

.my_style {
    font-size: 17px;
    font-family: Segoe UI Light;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 25px;
    top: 5px;
    color: #000000;
}

.my_style_preview {
    font-family: Segoe UI Light;
    text-align: right;
    padding-top: 1px;
    margin-top: 1px;
  
  }

  .p{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.8em;
    font-size: 12px;
    color:#09c512
  }

  .ava1{
    height: 35px;
    width: auto;
    margin-left:10px ;
    display: block;
}

.my_style_preview1 {
    font-family: Segoe UI Light;
    text-align: right;
    padding-top: 1px;
    margin-top: 1px;
  
  }

  .p1{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.8em;
    font-size: 14px;
    color:#011602;
    text-align: center;
  }

  
.my_style1 {
    position: absolute;
    font-size: 18px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 1px;
    top: 22px;
    left: 38px;
}


.my_style31 {
    position: absolute;
    text-align: right;
    font-size: 12px;
    font-family: Segoe UI Light;
    top: 5px;
    right: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
   
}

.my_style41 {
    position: absolute;
    text-align: right;
    font-size: 12px;
    font-family: Segoe UI Light;
    top: 5px;
    left: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
   
}
.my_style11 {
    position: absolute;
    font-size: 13px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 30px;
    left: 130px;
    

}

.my_style21 {
    position: absolute;
    font-size: 13px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 48px;
    left: 65px;
    

}


.my_style2 {
    position: absolute;
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 10px;
    right: 3px;
    color:#0011fc

}

.my_style3 {
    position: absolute;
    font-size: 13px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 30px;
    right: 3px;
    color:#000000

}

.my_style4 {
    position: absolute;
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 8px;
    right: 18px;
    color:#000000

}
.my_style5 {
    position: absolute;
    font-size: 15px;
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 1px;
    margin-top: 1px;
    top: 10px;
    right: 3px;
    color:#9900ff

}


ion-card-content{
    background-color: #ffffff;
}

ion-item{
    background: #ffffff;
}

.center{
    text-align: center;
    margin: auto;
    padding-top: 60px;
    padding-top: 25px;
}
.center1{
    text-align: center;
    margin: auto;
}

.img{
    margin-bottom: 15px;
    margin-top: 6px;

}

ion-content{

    --ion-background-color:linear-gradient( to bottom , #2962ff, #ffffff 85%);
}