<ion-header no-border translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color: #2962ff;" (click)="toggleMenu()">
         <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="color: red" (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
    <ion-title style="text-align: center">Tus Movimientos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="center">
    <img class="img" style="height: 100px; width: 100px;" src="/assets/images/reload.png"/>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="caret-down-sharp"></ion-refresher-content>
  </ion-refresher>
  <ion-row >
    <ion-col size-lg="12" size-xs="12" >
      <ion-card  (click)="abreModal(track.id,track.valor,track.slug,track.billetera,track.created_at,track.tipo)" mode="md" class="welcome-card animated fadeIn fast" *ngFor="let track of tracks">
        <ion-card-content style=" padding-top: 20px; padding-bottom: 0px;">
        <ion-card-content class="my_style" >
          <div>
            {{track.billetera}}
          </div>
       </ion-card-content>
       <ion-card-content class="my_style31">
        {{track.created_at}}
       </ion-card-content>
      <ng-container *ngIf="track.tipo === 'Recibido'">
        <ion-icon class="up-status" name="caret-down-sharp"></ion-icon>
        <ion-card-content style=" color: #09c512" class="my_style41">
          {{track.tipo}}
         </ion-card-content>
        <div style=" color: #09c512; padding-top: 2px;">
          + {{track.valor | number}} XTC
        </div>
     </ng-container>
     <ng-container *ngIf="track.tipo === 'Envió'">
        <ion-icon class="up-status1" name="caret-up-sharp"></ion-icon>
        <ion-card-content style=" color: red" class="my_style41">
          {{track.tipo}}
         </ion-card-content>
        <div style=" color: red; padding-top: 2px;">
          - {{track.valor | number}} XTC
        </div>
     </ng-container>
     </ion-card-content>
    </ion-card>
   </ion-col>
  </ion-row>
  </ion-content>
 