<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color: #2962ff">
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="color: red" (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-title style="text-align: center">Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="caret-down-sharp"></ion-refresher-content>
  </ion-refresher>
  <ion-row >
   <ion-col size-lg="12" size-xs="12" >
    <ion-card  mode="md" class="welcome-card animated fadeIn fast" *ngFor="let xtc of xtcs">
      <ion-item color="#ffffff" lines="none">
        <ion-icon class="up-status" name="caret-up-sharp"></ion-icon>
          <ion-label color="warning" class="ion-text-right">XTC/USD</ion-label>
          <ion-label class="ion-text-right" style="font-size: 10px; margin-right:5px; color:#09c512">{{xtc.valor}}</ion-label>
      </ion-item>
  </ion-card>
  <ion-card-content class="my_styles" style="padding-bottom: 1px; " >
    Buen dia {{name}}
  </ion-card-content>
  <ion-card  color="#ffffff" mode="md" class="welcome-card animated fadeIn fast" *ngFor="let wallet of wallets">
    <ion-card-header style="padding-bottom: 4px; padding-top: 4px; padding-left: 10px">
     <img class="ava" src="/assets/images/logo.png"/>
    </ion-card-header>
   <ion-card-content class="my_style" style="padding-bottom: 1px; " *ngFor="let xtc of xtcs">
    {{wallet.saldo*xtc.valor | currency: 'USD'}}
  </ion-card-content>
  <ion-card-content class="my_styl" style="padding-bottom: 1px;">
    USD
 </ion-card-content>
  <ion-card-content class="my_style10" style="padding-bottom: 1px;" >
    XTC ≈ {{wallet.saldo | number}}
 </ion-card-content>
  </ion-card>
  <ion-card color="#ffffff" mode="md" class="welcome-card animated fadeIn fast" *ngFor="let coin of coins">
    <ion-card-header style="padding-bottom: 4px; padding-top: 4px; padding-left: 10px">
     <img class="ava1" [src]="coin.image | image"/>
    </ion-card-header>
    <ion-card-content class="my_style1" style="padding-bottom: 1px;">
      {{coin.moneda}}
   </ion-card-content>
   <div>
    <ion-label class="my_style4" > ≈ {{coin.valor | number}}</ion-label>
    <div>
      <ion-label class="my_style44" >USD</ion-label>
     </div>
   </div>
   <ion-card-content class="my_style3" style="padding-bottom: 1px;">
     $0.00
  </ion-card-content>
  <ion-card-content class="my_style33" style="padding-bottom: 1px;">
    USD
 </ion-card-content>
  </ion-card>
  </ion-col>
  </ion-row>
  </ion-content>
  