<ion-header no-border translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cerrarModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-avatar style="width: 35px; height:35px"><img src="/assets/images/logo.png"></ion-avatar>
</ion-buttons>
    <ion-title style="text-align: center">Añadir Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-icon class="icon" color="warning" name="people-circle-outline"></ion-icon>
  </div>
  
<div class="">
  <ion-list class="list">
    <ion-item>
      <ion-input type="text" placeholder="Nombre" max="56" [(ngModel)] = "namec"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="Email" max="150" [(ngModel)] = "emailc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Telefono" max="11" [(ngModel)] = "telephonec"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Direccion Wallet" max="150" [(ngModel)] = "direccionc"></ion-input>
    </ion-item>
    <div class="center">
      <ion-button shape='round' (click)="tryRegisterC()" [disabled]="disabledButton">Crear</ion-button>
    </div>
  </ion-list>
</div>
</ion-content>
