.center{
    text-align: center;
    margin-top: 10px;
}

.list{
    margin-left: 40px;
    margin-right: 40px;
}

ion-img{
    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
}

.icon{
    font-size: 120px;
    text-align: center;
}