
<ion-content>

  <ion-slides pager="true">
    <ion-slide class="slide-one">
      <ion-img src="/assets/images/logo.png"></ion-img>
      <h2>Bienvenidos a</h2>
      <h1>XatruchWallet</h1>
      <h5>La primera moneda descentralizada Hondureña</h5>
      <h4>Todos los Derechos Reservados Xatruchcoin</h4>
      <h4>Copyright © 2020</h4>
      <h4>Ver.1.0.0</h4>
    </ion-slide>
    <ion-slide class="slide-two">
      <h2>Fácil y Seguro</h2>
      <h6 class="labelintro" >Se trabaja a diario con Xatruchcoin, para que todo ciudadano hondureño pueda adquirir nuestra moneda y pueda obtener ganancias extras o realizar sus compras.</h6>
    <img style="height: 200px; width: 200px;" src="/assets/images/seguridad.png"/>
    </ion-slide>
    <ion-slide class="slide-two">
      <h2>Términos y Condiciones</h2>
      <h6 class="labelintros" >XatruchCoin es una empresa debidamente registrada, representada por su(s) Director(es) ejecutivo(s) (en lo sucesivo denominada “Empresa”). Visitando el presente sitio web y usando las facilidades aquí prestadas los Usuarios confirman por la presente que han leído detenidamente, comprendido y aceptado, sin cualquier objeción, los siguientes Términos y Condiciones, que regulan el acceso y el uso de este sitio web, los derechos y las obligaciones de los Usuarios y las compras de productos y servicios (“Productos”) a través de este sitio web.</h6>
      <img style="height: 100px; width: 100px;" src="/assets/images/terminos.png"/>
      <ion-button size="small" color="success" (click)="terms()">Leer más</ion-button>
    </ion-slide>
  </ion-slides>
  <div class="center">
    <ion-button color="warning" (click)="select()">Iniciar</ion-button>
  </div>  
</ion-content>
